@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=League+Spartan:wght@700&family=Outfit:wght@400;700&family=Poppins:wght@100;300;500;700&display=swap");

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background: linear-gradient(to right, #1f3756, #141539);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameButton {
  position: relative;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: none;
}
.rulesModal {
  display: flex;
  margin: 15%;
  margin-left: 40%;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 400px;
  height: 450px;
}
.rulesCloseButton {
  border: none;
  width: 50px;
  height: 50px;
}
.rulesCloseButton:hover {
  opacity: 40%;
}
.rulesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.rulesImage {
  margin-left: 30px;
}
.rulesText {
  margin-left: 15px;
  color: #3a3a3a;
  font-size: 24px;
}
.rulesButton {
  position: fixed;
  top: 900px;
  left: 1740px;
  border-radius: 8px;
  font-weight: 700;
  width: 150px;
  height: 45px;
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255) solid 1px;
  background: transparent;
}
.rulesButton:hover {
  background: #ffffff0e;
  border: none;
  color: #ffffff31;
}
.pentagonImage {
  width: 450px;
  height: 450px;
  position: absolute;
}
.spockDiv {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background: linear-gradient(to bottom, #40b9ce, #52bed1);
}
.scissorDiv {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: hsl(189, 59%, 53%);
}
.rockDiv {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: hsl(189, 59%, 53%);
}
.paperDiv {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: hsl(189, 59%, 53%);
}
.lizardDiv {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: hsl(189, 59%, 53%);
}
